#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell {
  margin: 10px;
  height: 104px;
  width: 137px;
  font-size: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .cell {
    margin: 5px;
    height: 53px;
    width: 57px;
    font-size: 16px;
  }
}