#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root h1 {
  font-size: 2em;
}

.board {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);

  width: 80vw;
  max-height: 100vh;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 8vw;
  line-height: inherit;
  overflow: hidden;
}